@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import "./MainResources.css";
* {
	-scene-background-color:#CCCCCC;
	-dark-font: #000000;
	-light-font: #FFFFFF;
	-tooltip-base: #FFD858;
	-dark-grey-menu-base: #332E43;
	-main-button-color: #5A59B1;
	-main-button-hover-color: #494794;
	-main-button-pressed-color: #3F3E80;
}

.root {
	-fx-background-color: -scene-background-color;
}

.tooltip {
	-fx-font-size: 16px;
	-fx-font-family: 'Space Mono', monospace;
	-fx-background-color: -tooltip-base;	
	-fx-text-fill: -dark-font;
}

.menu {
	-fx-background-color: -dark-grey-menu-base;
	-fx-text-fill: -light-font;
	-fx-border-style: hidden;
	-fx-background-radius: 0 40 40 0;
}

.button_menu {
	-fx-text-fill: -light-font;
	-fx-background-color: transparent;
	-fx-font-size: 32px;
	-fx-font-family: 'Space Mono', monospace;
	-fx-opacity: 0.6;
}



.button_focus {
	-fx-text-fill: -light-font;  
	-fx-background-color: transparent;
	-fx-font-size: 32px;
	-fx-font-family: 'Space Mono', monospace;
}

.button_main {
	-fx-background-color: -main-button-color;
	-fx-text-fill: -light-font;
	-fx-font-size: 40px;
	-fx-font-family: 'Space Mono', monospace;
	-fx-border-style: hidden;
	-fx-background-radius: 30px;
	-fx-effect: dropshadow( gaussian, #9d9d9d, 10, 0.5, 5px, 5px);
}

.button_main:hover {
	-fx-background-color: -main-button-hover-color;
}

.button_main:pressed {
	-fx-background-color: -main-button-pressed-color;
	-fx-effect: none;
}

.label_title {
	-fx-text-fill: -dark-font;
	-fx-font-size: 100px;
	-fx-font-family: 'Space Mono', monospace;
}

.label_subtitle {
	-fx-text-fill: -dark-font;
	-fx-font-size: 30px;
	-fx-font-family: 'Space Mono', monospace;	
}