@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import "./MainResources.css";

* {
	-scene-background-color:#CCCCCC;
	-dark-font: #000000;
	-light-font: #FFFFFF;
	-tooltip-base: #FFD858;
	-dark-grey-menu-base: #332E43;
	-theme-focus-color: #3F3E80;
	-light-grey: #ADABB4;
	-dark-grey: #565263;
}

.root {
	-fx-background-color: -scene-background-color;
}

.tooltip {
	-fx-font-size: 16px;
	-fx-font-family: 'Space Mono', monospace;
	-fx-background-color: -tooltip-base;	
	-fx-text-fill: -dark-font;
}

.menu {
    -fx-background-color: -dark-grey-menu-base;
    -fx-border-style: hidden;
    -fx-background-radius: 0 40 40 0;
}

.slider_tool .track {
	-fx-pref-height: 40px;
	-fx-pref-width: 40px;
	-fx-background-radius: 3;
	-fx-background-color: -dark-grey;
}

.slider_tool .thumb {
	-fx-pref-height: 20px;
	-fx-pref-width: 42px;
	-fx-background-color: -light-grey;
	-fx-background-radius: 3;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0.0, 0.0);
}

.text_field_title {
	-fx-background-color: -theme-focus-color;
	-fx-text-fill: -light-font;
	-fx-font-size: 20px;
	-fx-font-family: 'Space Mono', monospace;
	-fx-opacity: 0.8;
}

.text_field_title:hover {
	-fx-opacity: 1.0;
}

.text_field_title:pressed {
	-fx-background-color: -theme-focus-color;
	-fx-opacity: 1.0;
	-fx-effect: none;
}

.button_tool {
	-fx-text-fill: -light-font;
	-fx-background-color: transparent;
	-fx-font-size: 20px;
	-fx-font-family: 'Space Mono', monospace;
	-fx-opacity: 0.6;
}

.button_tool:hover {
	-fx-opacity: 0.8;
}

.button_tool:pressed {
	-fx-background-color: -theme-focus-color;
	-fx-opacity: 1.0;
}

.button_tool:selected {
  	-fx-background-color: -theme-focus-color;
  	-fx-opacity: 1.0
}

.color_picker {
 	-fx-color-label-visible: false;
  	-fx-color-rect-width: 35px;
  	-fx-color-rect-height: 35px;
  	-fx-font-size: 0px;
}

.color_picker > .arrow-button {
    -fx-font-size: 0.1px;
}

.button_focus {
    -fx-text-fill: -light-font;
    -fx-background-color: transparent;
    -fx-font-size: 32px;
    -fx-font-family: 'Space Mono', monospace;
}