@import "./MainResources.css";
* {
	-light-font: #FFFFFF;
	-dark-font: #000000;
	-button-dark-add-event: #332E43;
	-scene-background-color: #FFFFFF;
}

.root {
    -fx-background-color: -scene-background-color;
}


.button_focus {
    -fx-text-fill: -light-font;
    -fx-background-color: transparent;
    -fx-font-size: 32px;
    -fx-font-family: 'Space Mono', monospace;
}


.button_tool {
    -fx-text-fill: -light-font;
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-font-family: 'Space Mono', monospace;
    -fx-opacity: 0.6;
}

.button_tool:hover {
    -fx-opacity: 0.8;
}

.textField_eventName {
    -fx-prompt-text-fill: -dark-font;
    -fx-border-radius: 4px;
    -fx-font-size: 20px;
    -fx-font-family: 'Space Mono', monospace;
    -fx-opacity: 0.6;
}


.button_addEvent {
    -fx-background-color: -button-dark-add-event;
    -fx-font-size: 20px;
    -fx-font-family: 'Space Mono', monospace;
}


.text_listTitle {
    -fx-font-size: 30px;
    -fx-font-family: 'Space Mono', monospace;
}
