@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import "./MainResources.css";
* {
	-scene-background-color:#CCCCCC;
	-dark-font: #000000;
	-light-font: #FFFFFF;
	-tooltip-base: #FFD858;
	-dark-grey-menu-base: #332E43;
	-theme-focus-color: #3F3E80;
	-main-button-color: #5A59B1;
	-main-button-hover-color: #494794;
}

.root {
    -fx-background-color: -scene-background-color;
}

.tooltip {
	-fx-font-size: 16px;
	-fx-font-family: 'Space Mono', monospace;
	-fx-background-color: -tooltip-base;	
	-fx-text-fill: -dark-font;
}

.menu {
    -fx-background-color: -dark-grey-menu-base;
    -fx-border-style: hidden;
    -fx-background-radius: 0 40 40 0;
}

.button_menu {
    -fx-background-color: transparent;
    -fx-opacity: 0.6;
}

.button_menu:hover {
    -fx-opacity: 0.8;
}

.button_menu:pressed {
    -fx-opacity: 1;
}

.button_focus {
    -fx-text-fill: -light-font;
    -fx-background-color: transparent;
    -fx-font-size: 32px;
    -fx-font-family: 'Space Mono', monospace;
}

.button_time {
    -fx-background-color: -main-button-color;
    -fx-text-fill: -light-font;
    -fx-font-size: 18px;
    -fx-font-family: 'Space Mono', monospace;
    -fx-background-radius: 10px;
    -fx-font-weight: 700;
}

.button_time:hover {
    -fx-background-color: -main-button-hover-color;
}

.button_time:selected {
    -fx-background-color: -theme-focus-color;
    -fx-effect: none;
}

.label_countdown {
    -fx-font-size: 148px;
}

.button_start {
    -fx-background-color: white;
    -fx-text-fill: -main-button-color;
    -fx-font-size: 32px;
    -fx-font-family: 'Space Mono', monospace;
    -fx-border-style: hidden;
    -fx-background-radius: 10px;
    -fx-font-weight: 700;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.25), 10, 0.5, 5, 5);
}

.button_start:pressed {
    -fx-effect: none;
}

.label_title {
    -fx-text-fill: -dark-font;
    -fx-font-size: 100px;
    -fx-font-family: 'Space Mono', monospace;
}