@import "./MainResources.css";
* {
	-scene-background-color:#CCCCCC;
	-light-background: #FFFFFF;
	-tooltip-base: #FFD858;
	-dark-grey-menu-base: #332E43;
	-main-button-color: #5A59B1;
	-primary-todo-listview-color: #ede7f6;
	-primary-doing-listview-color: #6f79a8;
	-primary-done-listview-color: #003d33;
	-secondary-todo-listview-color: #FFFFFF;
	-secondary-doing-listview-color: #9fa8da;
	-secondary-done-listview-color: #00695C;
}

.root {
    -fx-background-color: -scene-background-color;
}

.tooltip {
	-fx-font-size: 16px;
	-fx-font-family: 'Space Mono', monospace;
	-fx-background-color: -tooltip-base;	
	-fx-text-fill: black;
}

.navigation_bar {
    -fx-background-color: -dark-grey-menu-base;
    -fx-text-fill: -scene-background-color;
    -fx-border-style: hidden;
}

.button_focus {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 32px;
    -fx-font-family: 'Space Mono', monospace;
}


.button_tool {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-font-family: 'Space Mono', monospace;
    -fx-opacity: 0.6;
}

.button_tool:hover {
    -fx-opacity: 0.8;
}

.button_tool:pressed {
    -fx-background-color: -main-button-color;
    -fx-opacity: 1.0;
}

.button_tool:selected {
    -fx-background-color: -main-button-color;
    -fx-opacity: 1.0
}

.textField_eventName {
    -fx-prompt-text-fill: black;
    -fx-border-radius: 4px;
    -fx-font-size: 20px;
    -fx-font-family: 'Space Mono', monospace;
    -fx-opacity: 0.6;
}


.button_addEvent {
    -fx-background-color: -dark-grey-menu-base;
    -fx-font-size: 20px;
    -fx-font-family: 'Space Mono', monospace;
}


.text_listTitle {
    -fx-font-size: 30px;
    -fx-font-family: 'Space Mono', monospace;
}

.listView_TODO {
    -fx-background-color: -primary-todo-listview-color;
    -fx-background-radius: 10 10 10 10;
}


.listView_DOING {
    -fx-background-color: -primary-doing-listview-color;
    -fx-background-radius: 10 10 10 10;
}

.listView_DONE {
    -fx-text-fill: white;
    -fx-background-color: -primary-done-listview-color;
    -fx-background-radius: 10 10 10 10;
}

.list-cell {
    -fx-font-size: 18px;
}

.listView_TODO .list-cell:odd {
    -fx-background-color: -secondary-todo-listview-color;
}

.listView_TODO .list-cell:even {
    -fx-background-color: -primary-todo-listview-color;
}

.listView_DOING .list-cell:odd {
    -fx-background-color: -secondary-doing-listview-color;
}

.listView_DOING .list-cell:even {
    -fx-background-color: -primary-doing-listview-color;
}

.listView_DONE .list-cell:odd {
    -fx-text-fill: white;
    -fx-background-color: -secondary-done-listview-color;
}

.listView_DONE .list-cell:even {
    -fx-text-fill: white;
    -fx-background-color: -primary-done-listview-color;
}

.listView_TODO .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);
    -fx-text-fill: white;
}

.listView_DOING .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);
    -fx-text-fill: white;
}

.listView_DONE .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);
    -fx-text-fill: white;
}